<!DOCTYPE html>
<html>
	<head>
		<title> Coffee review website </title>
	</head>
	<body ng-app="myApp.view2">
		<script src="view2.js"></script>
		<link rel="stylesheet" href="app.css">
		<div class="container" ng-controller = 'View2Ctrl'>
			<h3> Reviews for {{vn.chosen.name}}:</h3> 
			
			<table class = table table-striped>
				<tr>
					<th>Reviewer</th>
					<th>Comment</th>
    				<th>Rating</th> 
				</tr>	
				
				
				<tr ng-repeat="review in vn.chosen.reviews">
					<td> {{ review.reviewer }} </td>
					<td> {{ review.comment }}  </td>
					<td> {{ review.rating }}/10 </td>
				</tr>
				
				</table>

		</div>

	</body>
</html>
