<!DOCTYPE html>
<html>
	<head>
		<title> Coffee review website </title>
	</head>
	<body ng-app="myApp.view1">
		<script src="view1.js"></script>
		<link rel="stylesheet" href="app.css">
		<div class="container" ng-controller = 'View1Ctrl'>
			Name:<input type="text" ng-model="name" /> {{ name }}
			<h3 class="info"> Coffees: </h3> 
			<table class = table table-striped>
				<tr>
					<th>Reviews</th>
					<th>Brand</th>
    				<th>Coffee Title</th> 
    				<th>Country</th>
				</tr>						
				<tr ng-repeat="coffee in vm.coffees | filter:name | orderBy:'name'">
			<td> <a href="#!/view2/{{coffee.id}}"> Reviews </a> </td>
			<td> {{ coffee.brand }} </td>
			<td> {{ coffee.name }}  </td>
			<td> {{ coffee.country }} </td>
			</tr>
			</table>
				
		</div>
		
		<div id="background">
		<img src="https://s-media-cache-ak0.pinimg.com/564x/7f/9b/98/7f9b983df9306b76bac778dee65daf65.jpg"/>
		</div>
		<!--<script>-->
			<!--function set(num){-->
				<!--document.getelementbyid(num).innerHTML-->
			<!--}-->
		<!--</script>-->

	</body>
</html>
